@model AstraBugTracker.Models.Project
@using AstraBugTracker.Services.Interfaces;
@using AstraBugTracker.Models.Enums;

@inject IBTFileService _FileService;
@inject IBTProjectsService _ProjectService;
@inject IBTTicketService _TicketService;
@inject IBTTicketHistoryService _TicketHistoryService;


@{
    ViewData["Title"] = "Details";
    BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id);


    

 }


<div class="row">
    <h1 class="mt-2 text-center">Project Details</h1>
    <div class="col-md-6 col mt-2 ">
        <div class="">
            <div class="card m-1 p-2">
                <div class="body">
                    @* Project Name *@
                    <h5>@Model.Name</h5>
                    @* Project Description *@
                    <p>@Model.Description</p>
                    <div class="progress-container progress-info m-b-25">
                        <span class="progress-badge" style="font-size:small">Project Status</span>
                        <div class="progress">
                            @* Razor code block *@
                            [Progress Bar code]
                            @*<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">*@
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                @* Use Progress Bar code variable here *@
                                <span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col mt-2 ">
        <div class="">
            <div class="card m-1 p-2">
                <div class="body">
                    <ul class=" list-unstyled basic-list">
                        <li>Start Date: <span class="">@Model.StartDate</span></li>
                        <li>Deadline: <span class="">@Model.EndDate</span></li>
                        <li>Priority: <span class="">@Model.ProjectPriority!.Name</span></li>
                        @* if() logic *@
                        @if (!@Model.Archived)
                        {
                            <li>Project Status: <span class="">Active</span></li>
                        }
                        else
                        {
                            <li>Project Status: <span class="">Inactive</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*Project Manager*@
    <div class="col-md-4 col mt-4 ">
        <div class="">
            <div class="card m-1 p-2">
                <div class="header">
                    <h2>Project Manager</h2>
                    <div class="dropdown-list dropdown" role="group">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                </a>
                                <div class="dropdown-menu left">
                                    @if (@User.IsInRole("Admin"))
                                    {
                                        <a asp-action="AssignPM" asp-route-id="@Model.Id" class="dropdown-item"><i data-feather="user-plus"></i><span>Re-Assign Project Manager</span> </a>
                                    }                        

                                </div>
                            </div>
                    <hr />
                </div>
              
                <div class="body" style="overflow-y:auto;height:300px;">
                    <div class="col-12 text-center">
                        <img class="rounded-circle" style="height:250px;" src="@_FileService.ConvertByteArrayToFile(projectManager?.ImageFileData!, projectManager?.ImageFileType!,(int)DefaultImage.BTUserImage)" />
                    </div>

                    <div class="col-12 text-center mt-2">
                        <h2>@projectManager?.FullName</h2>
                    </div>




                </div>
            </div>
        </div>
    </div>
    @*Project Team*@
    <div class="col-md-4 col mt-4 ">
        <div class="">
            <div class="card m-1 p-2">
                <div class="header">
                    <h2>Project Team</h2>
                    <hr />
                </div>
                <div class="body" style="overflow-y:auto;height:300px;">
                    <ul class="right_chat list-unstyled mb-0">


                        @* Logic for avatars *@
                        <div class="avatar--group mb-2">
                        @foreach (BTUser member in Model.Members)
                        {
                            <div class="avatar avatar-sm m-0">
                                <img alt="avatar" src="@_FileService.ConvertByteArrayToFile(member.ImageFileData!, member.ImageFileType!, (int)DefaultImage.BTUserImage)" class="rounded-circle">
                            </div>
               
                        }
                        </div>
                    </ul>
                    <a class="btn btn-primary" asp-action="AssignProjectMembers" asp-controller="Projects" asp-route-id="@Model.Id">Add Members</a>
                </div>
            </div>
        </div>
    </div>
    @*Project Activity Section*@
    <div class="col-md-4 col mt-4 ">
        <div class="">
            <div class="card m-1 p-2">
                <div class="header">
                    <h2>Project Activity</h2>
                    <hr />
                </div>
                <div class="body" style="overflow-y:auto;height:300px;background-color:white">
                    @* Project Activity loop *@
                    @foreach(Ticket ticket in Model.Tickets)
                    {
                         @foreach(TicketHistory history in ticket.History)
                            {
                                <span class="text-primary">@history.Created</span>
                                <br />
                                <span>@history.Description</span>                         
                                <br/>
                                <br />
                            }
                    }
                </div>

            </div>
        </div>
    </div>
    @*Ticket Table*@
    <div class="col-md-12 col">
        <div class="mt-4 ">
            <div class="card m-1 p-2">
                <div class="header">
                    <h2>Tickets</h2>
                </div>
                <div class="body">
                    <div class="table-responsive" style="overflow-y:auto;height:600px;">
                        <table class="table table-hover">
                            <thead class="">
                                <tr>
                                    @* Table header *@
                                    <th>Ticket Title</th>
                                    <th>Ticket Status</th>
                                    <th>Developer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* Table body *@
                                <partial name="_TicketTablePartial" model="@Model.Tickets" />
                      @*          @foreach (Ticket ticket in Model.Tickets)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a>
                                        </td>
                                        <td>
                                            @ticket.TicketStatusId
                                        </td>
                                        <td>
                                            @ticket.DeveloperUserId
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>




